* {
    --primaryColor: rgb(212, 54, 54);
    --dark: rgb(27, 27, 27);
    transition: all .2s;
}
body {
    transition: all .2s;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color:inherit;
}


/* navigation */
.nav-link-right a img {
    height: 20px;
    width: 20px;
}

.nav-link-right div {
    margin: 0 3px;
    padding: 3px 10px;
}

.nav-link-right div:hover {
    background: var(--primaryColor);
    color: white;
    border-radius: 10px;
}

.nav-link-right div:hover div {
    background: none;
}


.nav-link-right div:hover a {
    color: white;
}

.nav-link-right a:hover img {
    filter: invert(1);
}

.nav-link-center li {
    margin: 0px 8px;
    padding: 3px 8px;
    color: var(--dark);
    font-weight: bold;
}
.nav-link-center li a:hover {
    color: var(--primaryColor);
}
.nav-link-center .nav-active a:hover {
    color: var(--dark);
}

.nav-link-cart {
    display: relative;
}

.nav-link-cart:hover .cart-style {
    display: flex;
}

.cart-style {
    display: none;
    position: absolute;
    top: 70px;
    right: 150px;
    width: 350px;
    border-radius: 0px;
}

.nav-active {
    background-color: var(--primaryColor);
    border-radius: 10%;
}
.nav-active a {
    color: white;
}

.nav-link-search {
    position: relative;
}
.nav-link-search:hover .search-bar {
    display: flex;
}

.nav-link-search .search-bar {
    position: absolute;
    right: 0;
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 10;
}
/* landing page */

.landing-page {
    background: linear-gradient(rgba(19, 0, 0, 0.65), rgba(20, 2, 37, 0.65)),
    url('../img/bg4.jpg');
}


/* hover button customization */
.button-hover:hover {
    opacity: 0.7;
}

/* single button */

.singlebook {
    position: relative;
    transition: all .2s;
}

.singlebook:hover .hidden-btn {
    display: flex;
}

.singlebook .hidden-btn {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(146, 146, 146, 0.5);
}


/* footer */

.footer-links h1 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 4px;
}
.footer-links a {
    font-size: 0.8em;
    margin: 3px 0px;
    display: flex;
}

.footer-links a:hover {
    color: red;
    font-weight: 500;
}

.footer-links img {
    width: 20px;
    filter: invert(1);
    margin-right: 4px;
}

.sm-links {
    display: none;
    position: absolute;
    right: 10px;
    top: 60px;
    width: 80%;
    z-index: 20;
}
.bookpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.custom-line-clamp {
    max-lines: 1;
    max-height: 40px;
    overflow: hidden;
}

a:hover {
    color: inherit;
}

@media screen and (max-width: 550px ) {
    #navigation {
        padding: 10px;   
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-active {
        border-radius: 2px;
    }
    .nav-link-container,
    .nav-login-container {
        display: none;
    }
    .toggle-menu {
        display: flex;
        align-items: center;
    }
    .landing-page {
        height: 60vh;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .landing-page-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .landing-page-img {
        display: none;
    }
    
    .singlebook img {
        width: 10px;
    }
    .footer {
        padding: 3px;
    }
    .footer-content {
        display: flex;
        flex-direction: column;
    }
    .footer-links {
        margin: 0px;
        width: 100%;
        margin-top: 10px;
    }
    .footer-about {
        width: 100%;
    }
    .section-big {
        padding: 10px;
    }
    .singlebigbook {
        width: 100px;
    }
    .booklist-page {
        padding: 5px 10px;
    }
    .booklist-content {
        display: flex;
        flex-direction: column;
    }
    .booklist-content div {
        width: 100%;
    }
    .bookrow {
        display: flex;
        flex-direction: column;
    }
    .bookrow div {
        width: 100%;
        margin: 0;
    }
    .small-screen {
        display: flex;
        flex-direction: column;
    }
    .small-screen div {
        width: 100%;
    }
    .small-screen-padding {
        padding: 20px;
        margin: 0px;
        width: 100%;
    }
    .small-screen-hide {
        display: none;
    }
}



@media screen and (max-width: 950px ) {
    #navigation {
        padding: 10px;   
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-active {
        border-radius: 2px;
    }
    .nav-link-container,
    .nav-login-container {
        display: none;
    }
    .toggle-menu {
        display: flex;
        align-items: center;
    }
    .booklist-page {
        padding: 10px;
    }
    
}


